/* assets/css/custom.css */
body {
    background-image: url('/blog/my-blog/static/img/bj.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}